.contain {width: 100%; position: relative; background-color: #eee; color: #292929;}
.wraps {width: 100%;}
.wrap {width: 80%; text-align: center; margin:0 auto;}
::-moz-selection {
	background: #c07cfc4f;
	color: #fff;
 }
 ::selection {
	background: #c07cfc4f;
	color: #fff;
 }

/* navigation */
.tops {position: fixed; padding: 2rem 0; top: 0; left: 0; z-index:10;  background-color: #eee;}
.navis {display: flex; justify-content: space-between; align-items: center; align-content: center;}
.logo {width: 3rem;}
.menus {font-weight: 200; display: flex; justify-content: flex-start;}
.menu {margin-left: 4rem; cursor: pointer; position: relative;}
.menu::after{content: ""; display: block; position: absolute; left: 0; bottom: 10px; width: 0%; height: 0.5rem;	
	background: #c07cfc4f; transition-duration: 0.2s;}
.menu:hover::after {width: 100%; height: 0.5rem; background:#c07cfc4f; position: absolute;}
.menu-active {margin-left: 4rem; cursor: pointer; position: relative;}
.menu-active:after {content: ""; display: block; width: 100%;  height: 0.5rem; 
	background:#c07cfc4f; position: absolute; top: 0.325rem;}

/* ghost button */
.ghost {width: 36px; height: 30px; cursor: pointer; position: fixed;
	 z-index: 9999; z-index: 999; top: 2.125rem; right: 10%; display: none;}
  .ghost span {display: block; background: #151515; width: 36px; height: 3px; transition: 0.25s 0.25s;}
  .ghost .bar1 {margin-bottom: 6px;}
  .ghost .bar3 {margin-top: 6px;}  
  .ghost.active span {transition:  0.25s; background: #fff;}
  .ghost.active .bar1 {	margin-top: 8px; margin-bottom: -3px; transform: rotate(45deg);}
  .ghost.active .bar2 {transform: rotate(45deg);}
  .ghost.active .bar3 {	margin-top: -3px; transform: rotate(135deg);}
  .ghost.active:after +  #main_nav {right: -100vw;}
  
/* nav menu */
#main_nav {display: flex; justify-content: center; align-items: center; width: 0; height: 100%; position: fixed; top: 0; right: 0; background-color: #151515; z-index: 11; color: #f1f1f1; text-align: left; box-sizing: border-box;}
#main_nav ul {overflow: hidden;}
#main_nav ul li {position: relative; line-height: 3rem; letter-spacing: 0.4em; text-indent: 0.4em;}
#main_nav ul li::after{content: ""; display: block;	position: absolute;	left: 0; bottom: 3px; width: 0%; height: 2px;	
	background: #c07cfc; transition-duration: 0.2s;}	
#main_nav ul li:hover::after, #main_nav ul li.active::after{width: 100%;}

.pages {
	background: #eee;
}
/* page1 */
.page1{width: 100vw; height: 100vh; padding-top: 150px; display: table-cell; vertical-align: middle; font-weight: 200;}
.page1 h5 {padding-top: 4rem;}
.tit_txt {background-image: url(../img/portfolio.png); background-position: center; background-repeat: no-repeat;}

.cont {width: 100%; height: 100%; padding: 10rem 0; display: flex; justify-content: space-between; align-items: center; text-align: left;}
.cont a {width: 56%;}
.cont_img {width: 100%; overflow: hidden; cursor: pointer;}
.cont_img > img {transition-duration: 0.5s;}
.cont_img > img:hover {transform: scale(1.1);}

.cont_txt {width: 35%; padding: 4rem 0; line-height: 1.6;}
.cont_txt a {margin: 0.5rem 0;}
.cont_txt p {margin: 1.5rem 0;}
.cont_txt h3 {font-size: 1.5rem; border-bottom: 1px solid #ccc; margin: 1.5rem 0; padding-bottom: 1.5rem;  font-weight: 600 !important;}
.cont_tech {background-color: inherit; font-size: 0.75rem; padding: 0.5rem 0.75rem; border: 1px solid #ccc; cursor: pointer;}
.flex-row button {float: right;}

/* page3 contact */
.page3 > .wrap {position: relative;}
.cnts {height: 1080px; display: flex; align-items: center; justify-content: space-between;}
.int {width: 44%;}
.cnt {width: 44%;}

/* footer */
footer  {position: relative; line-height: 1.6em; background-color: #eee; }
footer .wrap {padding: 2rem 0; border-top: 1px solid #ccc;}
footer button {float: right; transition-duration: 0.3s;}
footer address {float: left; text-align: left;}
/* footer #bt_top:hover{transform: translate(0, -1rem);} */
#bt_top img{width: 1.5rem;}
#bt_top {background-color: transparent;}
/* 

#bt_top {
	animation-name: btTop;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	width: 1.5rem;
	height: 1.5rem;
	left: 50%;
	right: 50%;
	margin: 0 auto;
	transform: rotate(0deg);
	z-index: 99;
}
#bt_top img {
	animation: btTopt 2s both linear infinite;
}

@keyframes btTop {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}
50% {
	opacity: 1;
	transform: translateY(0);
}
	100% {
		opacity: 0;
		transform: translateY(30px);
	}
} */





/* animation */
.arrow_bot {
	animation-name: arrowBot;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	/* position: absolute; */
	width: 1.5rem;
	height: 1.5rem;
	left: 50%;
	right: 50%;
	bottom:100px;
	margin: 0 auto;
	margin-top: 16rem;
	transform: rotate(180deg);
	z-index: 99;
}
.arrow_bot img {
	animation: arrowBot 2s both linear infinite;
	cursor: pointer;
}

@keyframes arrowBot {
	0% {
		opacity: 0;
		transform: translateY(2em);
	}
50% {
	opacity: 0.5;
	transform: translateY(0);
}
	100% {
		opacity: 0;
		transform: translateY(-2em);
	}
}








/***** 반응형 처리 *****/

/***** 769px ~ 1024px *****/
@media screen and (max-width: 1024px) {
	.wrap {width:90vw;}	
	.tops {padding: 1.75rem 0;}
	.logo {width: 2.75rem;}	
	.menus {display: none;}
	.ghost {display: block; top: 1.875rem; right: 5vw;}

	.page1 {height: 50vh; display: block; padding: 30vh 0;}
	.tit_txt {background-size: 100%;}
/* 
	.tit_txt > h1 {font-size: 1rem; margin-top: 1rem;}
	.tit_txt > h5 {font-size: 0.75rem; padding-top: 1rem;} */
	.cont {height: 50%;}
	.cont a {width: 100%;}
	.cont_txt {padding: 1rem 0; width: 100%;}
	.cont_txt h3 {margin: 1rem 0; padding-bottom: 1rem;}	
	.cont_txt p {margin: 1rem 0;}
	.flex-row, .flex-rvs {flex-direction: column !important;}
	.cont_txt > a {display: none;}

	
	/* footer */
footer  {position: fixed; bottom: 0; line-height: 1.5rem; }
footer .wrap {padding: 1rem 0;   border-top: 1px solid #fff;}
footer button {float: right; transition-duration: 0.3s;}
footer address {font-size: 12px;}
footer address .mail {display: none;}
footer #bt_top:hover{transform: translate(0);}
#bt_top img{width: 1.5rem; padding-top: 0.25rem;}
#bt_top {background-color: transparent;}

}

/***** 481px ~ 768px *****/
@media screen and (max-width: 768px) {
	html, body {font-size: 1.25rem;}
	.tops {padding: 1.5rem 0;}
	.logo {width: 2.5rem;}
	.ghost {top: 1.75rem; right: 5vw;}
	.mail {display: none;}
	.arrow_bot {display: none;}
	

}

/***** 321px ~ 480px *****/
@media screen and (max-width: 480px) {
	.tops {padding: 1.25rem 0;}
	.logo {width: 2.25rem;}	
	.ghost {top: 1.5rem;}


/***** 0 ~ 320px *****/
@media screen and (max-width: 320px) {
	html, body {font-size: 1.5;}
	.tops {padding: 1rem 0;}
	.logo {width: 2.125rem;}

}
}